@media (max-width:119em) {
  .user {
    right: 10em;
  }
}
@media (max-width:114em) {
  .user {
    right: 9em;
  }
}
@media (max-width:109em) {
  .user {
    right: 8em;
  }
}
@media (max-width:104em) {
  .user {
    right: 7em;
  }
}
@media (max-width:99em) {
  .user {
    right: 6em;
  }
  .banner {
    display: none;
  }
}
@media (max-width:94em) {
  .user {
    right: 5em;
  }
}

@media (max-width: 89em) {
  #topics {
    display: none;
  
  }
  .user {
    right: 4em;
  }
  
}

@media (max-width: 69em) {
  .logo span {
    display: none; /* Ensures the link covers the entire area */
}
  
    body > header h1 {
      font-size: 1.5em;  
    } 
  
    body > header h2 {
      display: none;
    }
  
    .hamburger {
      display: block;
      background-color: #2a2f33;
      color: white;
      padding: 1em;
    }
  
    .hamburger:before {
      content:'\2630';
    }
  
    #menu ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      color: white;
    }
  
    #hamburger:checked + .hamburger + ul li{
      max-height: 1em;
      padding: 1em;
      opacity: 1;
    }
  
    #hamburger:checked + .hamburger:before {
      content:'\2715';
    }
  
    #menu li {
      max-height: 0;
      padding: 0 1em;
      background-color: #edeff0;
      text-align: left;
      opacity: 0;
      transition: all .3s ease-in-out;
    }
    
    #menu li:nth-child(1) {
      border-top: none;
      border-left: 5px solid #e1493e;
    }
  
    #menu li:nth-child(2) {
      border-top: none;
      border-left: 5px solid #8aba56;
    }
  
    #menu li:nth-child(3) {
      border-top: none;
      border-left: 5px solid #5b4282;
    }
  
    #menu li:nth-child(4) {
      border-top: none;
      border-left: 5px solid #ff8932;
    }
  
    #menu li:nth-child(5) {
      border-top: none;
      border-left: 5px solid #19b6e9;
    }
  
    #menu li:nth-child(6) {
      border-top: none;
      border-left: 5px solid #e84c8b;
    }
  
    #news .tags {
      display: none;  
    }
  
    #news header {
      color: black;
      max-width: 100%;
      font-size: 1em;
      padding: 1em;
      position: static;
    }
  
    #news header h1 {
      text-shadow: none;
    }
  
    #news header a{
      color: black;
    }
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #FFEAC9; 
    border-radius: 0px; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  ::-webkit-scrollbar {
    background-color: rgba(204, 204, 204, 0.5); 
  }