* {
    font-size: 15px;
    margin: auto;
    padding: 0;
  }
  /* Style for the background */
  html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEAC9;
  }
  
  /* Style for the header */
  header {
    #hamburger, .hamburger {
      display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #704214; /* Change the color as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999; 
  }
  
  /* Remove default list styling */
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  /* Style for the logo */
  .logo {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 3em;
    color: #DADADA; /* Change the color as needed */
    text-decoration: none;
    span {
      font-size: 1em; /* Adjust font size as needed */
      color: #DADADA;
      text-decoration: none;
    }
    a {
        font-size: 2.5em; /* Adjust font size as needed */
        color: #DADADA;
        text-decoration: none;
      }
  
    .spin {
      position: relative;
      top: 0.5em;
      left: 0.5em;
      transition: transform .7s ease-in-out;
    }
    .spin:hover {
      transform: rotate(360deg);
    }
  }
  .search {
      padding-left: 2em;
      padding-right: 3em;
  }
  /* Style for the search bar */
  .search input[type="search"] { 
    width: 30em;/* Adjust width as needed */
    padding: 1em;
    border: none;
    border-radius: 50px;
    font-size: 16px; /* Adjust font size as needed */
  }
  .search button {
    /* Hide default button text */
    text-indent: -9999px;
    /* Set width and height of the button */
    width: 35px; /* Adjust according to your design */
    height: 35px; /* Adjust according to your design */
    /* Set background image */
    background-image: url('../imgs/lupa.png');
    /* Set background size to cover the button */
    background-size: cover;
    background-color: transparent;
    /* Optionally, you can add some padding to make the button larger */
    padding: 5px; /* Adjust according to your design */
    /* Optionally, you can add a border or other styles */
    border: none; /* Remove default button border */
    /* Add any other styles you want */
    /* Ensure the cursor changes on hover */
    cursor: pointer;
}
  
  
  /* Style for navigation links */
  #topics a {
    color: #DADADA; /* Change the color as needed */
    text-decoration: none;
    p{
      font-size: 1.5em;}/* Adjust font size as needed */
  }
  #topics {
      li {
          padding: 1.5em;
      }
      li:hover {
      background-color: #38210a;; 
      }
  }
  #register p{
    color: #DADADA;
    font-size: 2em;
    margin-left: 14em;
    position: relative;
    left: -1em;
  }

  
  /* Style for login/register links */
  .user {
    position: absolute;
    right: 16em;
    top: 1.1em;
    .login {
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #333;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    .register {
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #8c2d19;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    .register:hover {
      background-color: #640000;
      cursor: pointer;
    }
    .login:hover {
      background-color: #222;
      cursor: pointer;
    }
    .logout {
      position: relative;
      bottom: 1.5em;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #333;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    .userimg {
      position: relative;
      bottom: 0.5em;
      border-radius: 50px;
      border: 2px solid #8c2d19;
    }
    .logout:hover {
      background-color: #222;
      cursor: pointer;
    }
  }


body {
    padding-top: 5em;
    overflow-x: hidden;
    /* Adjust this value to match the height of your header */
  }

  .banner {
    margin: auto;
    background-color: #000;
    
    .box {
      width: 100vw;
      display: flex;
      align-items: center;
      .bannerimg {
        
        padding-left: 10.7vw;
        flex:1;
        }
  
      .text-wrapper {
        flex:1;
        padding:20px;
        align-items: center;
      }
      h2:first-child {
        padding: 1em;
        color: #DDD;
        font-size: 2.2em;
        position: relative;
        left: 1.5em;
  
      }
      h2:nth-child(2) {
        padding: 1em;
        color: #DDD;
        font-size: 2.4em;
        position: relative;
        left: 5em;
        top: -1em;
  
  
    
      }
      .sell {
        position: relative;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        background-color: #118C4f;
        color: #DADADA;
        font-size: 2em;
        border-radius: 50px;
        border: none;
        left: 11em;
        bottom: 0.5em;
  
      }
      .sell:hover {
        background-color: #073820;
        cursor: pointer;
      }
    }
  }
  
  .top {
    a{
      text-decoration: none;
    }
    width: 100em;
    margin: auto;
    #top {
      width: 50px; height: 50px;
      position: relative;
      top: 3.3em;
      left:-33em;
      transform: skew(30deg); background-color: red;
    }
    #hot {
      width: 50px; height: 50px;
      position: relative;
      top: 3.3em;
      left:-33em;
      transform: skew(30deg); background-color: orange;
    }
    #new {
      width: 50px; height: 50px;
      position: relative;
      top: 3.3em;
      left:-33em;
      transform: skew(30deg); background-color: yellow;
    }
    #res {
      width: 50px; height: 50px;
      position: relative;
      top: 3.3em;
      left:-33em;
      transform: skew(30deg); background-color: #8c2d19;
    }
  
    h2 {
      background-color: #DADADA;
      padding: 0.5em;
      color: #000;
      margin-right: 55em;
      font-size: 1.5em;
  
    }
  }
  
  .title {
    padding: 0.5em;
    h3 {
      font-size: 1.2em;
    }
  }
  .desc {
    padding: 0.5em;
    p {
      font-size: 0.9em;
      color: #333;
    }
  }
  
  .shelf-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100em;
  
  }
  .shelf {
    display: flex;
    flex-wrap: nowrap;
    .card {
      margin: 1em;
      margin-left: 0;
      margin-right: 3em;
      background-color: antiquewhite;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
    }
  }
  .page {
    display: flex;
    flex-wrap: wrap;
    max-width: 100em;
    .card {
      margin: 1.25em;
      background-color: antiquewhite;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
    }
  }
  .card {
    margin: 1em;
    margin-left: 0;
    margin-right: 3em;
    background-color: antiquewhite;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  
  }
  
  .buttons {
    display: flex;
    align-items: center;
    padding: 0.5em;
    button {
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #118C4f;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    button:hover {
      background-color: #073820;
      cursor: pointer;
    }
  }


footer {
    background-color: #333;
    color: #DADADA;
    padding: 1em;
    font-size: 0.8em;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #FFEAC9; 
    border-radius: 0px; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  ::-webkit-scrollbar {
    background-color: rgba(204, 204, 204, 0.5); 
  }