/* Reset default margin and padding */
* {
    font-size: 15px;
    margin: auto;
    padding: 0;
  }
  /* Style for the background */
  html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEAC9;
  }
  
  /* Style for the header */
  header {
    #hamburger, .hamburger {
      display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #704214; /* Change the color as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999; 
  }
  
  /* Remove default list styling */
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  /* Style for the logo */
  .logo {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 3em;
    color: #DADADA; /* Change the color as needed */
    text-decoration: none;
    span {
      font-size: 1em; /* Adjust font size as needed */
      color: #DADADA;
      text-decoration: none;
    }
    a {
        font-size: 2.5em; /* Adjust font size as needed */
        color: #DADADA;
        text-decoration: none;
      }
  
    .spin {
      position: relative;
      top: 0.5em;
      left: 0.5em;
      transition: transform .7s ease-in-out;
    }
    .spin:hover {
      transform: rotate(360deg);
    }
  }
  .search {
      padding-left: 2em;
      padding-right: 3em;
  }
  /* Style for the search bar */
  .search input[type="search"] { 
    width: 30em;/* Adjust width as needed */
    padding: 1em;
    border: none;
    border-radius: 50px;
    font-size: 16px; /* Adjust font size as needed */
  }
  .search button {
    /* Hide default button text */
    text-indent: -9999px;
    /* Set width and height of the button */
    width: 35px; /* Adjust according to your design */
    height: 35px; /* Adjust according to your design */
    /* Set background image */
    background-image: url('../imgs/lupa.png');
    /* Set background size to cover the button */
    background-size: cover;
    background-color: transparent;
    /* Optionally, you can add some padding to make the button larger */
    padding: 5px; /* Adjust according to your design */
    /* Optionally, you can add a border or other styles */
    border: none; /* Remove default button border */
    /* Add any other styles you want */
    /* Ensure the cursor changes on hover */
    cursor: pointer;
}
  
  
  /* Style for navigation links */
  #topics a {
    color: #DADADA; /* Change the color as needed */
    text-decoration: none;
    p{
      font-size: 1.5em;}/* Adjust font size as needed */
  }
  #topics {
      li {
          padding: 1.5em;
      }
      li:hover {
      background-color: #38210a;; 
      }
  }
  #register p{
    color: #DADADA;
    font-size: 2em;
    margin-left: 14em;
    position: relative;
    left: -1em;
  }

  
  /* Style for login/register links */
  .user {
    position: absolute;
    right: 16em;
    top: 1.1em;
    .login {
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #333;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    .register {
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #8c2d19;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    .register:hover {
      background-color: #640000;
    }
    .login:hover {
      background-color: #222;
    }
    .logout {
      position: relative;
      bottom: 1.5em;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #333;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
    }
    .userimg {
      position: relative;
      bottom: 0.5em;
      border-radius: 50px;
      border: 2px solid #8c2d19;
    }
    .logout:hover {
      background-color: #222;
    }
  }
  
  body {
    padding-top: 8em; /* Adjust this value to match the height of your header */
  }
  

  .top {
    a{
      text-decoration: none;
    }
    width: 100em;
    margin: auto;
    margin-bottom: 1em;
    #hot {
      width: 50px; height: 50px;
      position: relative;
      top: 3.3em;
      left:-33em;
      transform: skew(30deg); background-color: #8c2d19;
    }
  
    h2 {
      background-color: #DADADA;
      padding: 0.5em;
      color: #000;
      margin-right: 55em;
      font-size: 1.5em;
  
    }
  }

  
  #delete {
          background-color: #8c2d19;
        }
  
  .album_wrapper {
    width: 100em;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
    /* Style for the profile container */
    .album {
      background-color: antiquewhite;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      align-items: center;
      padding: 2em;
      padding-top: 2em;
      width: 30%; /* Adjust as needed */
      
      .album_banner img {
        
        border: 2px solid #8c2d19;
      }
      .album_info  h2{
        font-size: 1.4em;
        margin-bottom: 1em;
      }
      .album_desc {
        font-size: 1.2em;
        margin-left: 1em;
        margin-bottom: 2em;
      }
      margin-right: 2em;
    }
  
    /* Style for the selling container */
    .items {
      width: 70%; /* Adjust as needed */

    }

    .items-window {
        flex-direction: column;
        gap: 20px;
        overflow-y: auto; /* Add this line */
        max-height: 22em;
    }
  
    /* Style for each individual item */
    .item-slab {
      background-color: antiquewhite;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      margin-right: 2em;
      padding: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      .item-seller {
        font-size: 1.2em;;
      }
      .item-info {
        font: 1em;
      }
      .item-buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        button {
          padding: 0.5em;
          padding-left: 1em;
          padding-right: 1em;
          background-color: #118C4f;
          color: #DADADA;
          border-radius: 50px;
          border: none;
          margin: 0;
          margin-top: 0.2em;        
        }
        button:hover {
          background-color: #073820;
        }
      }
    }
  }
  
  
  
  
  footer {
    background-color: #333;
    color: #DADADA;
    padding: 1em;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #FFEAC9; 
    border-radius: 0px; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  ::-webkit-scrollbar {
    background-color: rgba(204, 204, 204, 0.5); 
  }