* {
    font-size: 15px;
    margin: auto;
    padding: 0;
  }
  /* Style for the background */
  html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEAC9;
  }
  
  /* Style for the header */
  header {
    #hamburger, .hamburger {
      display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #704214; /* Change the color as needed */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999; 
  }
  
  /* Remove default list styling */
  header ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  /* Style for the logo */
  .logo {
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 3em;
    color: #DADADA; /* Change the color as needed */
    text-decoration: none;
    span {
      font-size: 1em; /* Adjust font size as needed */
      color: #DADADA;
      text-decoration: none;
    }
    a {
        font-size: 2.5em; /* Adjust font size as needed */
        color: #DADADA;
        text-decoration: none;
      }
  
    .spin {
      position: relative;
      top: 0.5em;
      left: 0.5em;
      transition: transform .7s ease-in-out;
    }
    .spin:hover {
      transform: rotate(360deg);
    }
  }

  #register p{
    color: #DADADA;
    font-size: 2em;
    margin-left:13.5em;
    position: relative;
    left: -6em;
  }

  .form-horizontal {
    margin: 1.25em;
    margin-bottom: 3em;
    background-color: antiquewhite;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    width: 28em;
    margin:auto;
    label {
      font-size: 1.25em;
      /* color: #FFEAC9; */
    }
    input.form-control  {
      font-size: 1.2em;
      width: 18em;
      padding: 0.5em;
      border-radius: 50px;
      background-color: #EEE;
      margin: 1em;
    }
    label.form-control::after {
      content: '*';
      color: red; /* Change the color as needed */
      margin-left: 5px; /* Adjust spacing between the field and the asterisk */
    }
    select.form-control {
      font-size: 1.2em;
      width: 20em;
      padding: 0.5em;
      border-radius: 50px;
      background-color: #EEE;
      margin: 1em;
    }
    .register-now {
      font-size: 1.1em;
      a {
        color: #118C4f;
        font-size: 1.1em;
      }
  
    }
    .checkbox label{
      a {
        font-size: 1em;
      }
      span {
        font-size: 1em;
  
      }
      input {
        font-size: 1em;
      }
      font-size: 1.25em;
      border-radius: 50px;
      
    }
    .btn {
      margin-top: 2.5em;
      margin-left: 2.6em;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #8c2d19;
      color: #DADADA;
      font-size: 1.5em;
      border-radius: 50px;
      border: none;
    }
    .btn:hover {
      background-color: #640000;
    }
  }


  body {
    padding-top: 8em; /* Adjust this value to match the height of your header */
  }

  
  footer {
    background-color: #333;
    color: #DADADA;
    padding: 1em;
    font-size: 0.8em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #FFEAC9; 
    border-radius: 0px; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
  ::-webkit-scrollbar {
    background-color: rgba(204, 204, 204, 0.5); 
  }