@page {
    size: A4;
}



@media screen {
    body {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: #000;
        background-color: #fff;
    
    } 

html {
    background-color: white;
    margin: 1em;

}


table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 2px solid black;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}


.libre-barcode-39-regular {
    font-family: "Libre Barcode 39 Extended Text", system-ui;
    font-style: normal;
    font-size: 10em;
    text-align: center;
    padding: 0;
  }
  .info {
    padding: 5em;
  }
  .user {
    border-bottom: 0;
  }
}

@media print {
@page {size: landscape}
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #000;
    background-color: #fff;

} 

html {
background-color: white;
margin: 1em;

}


table {
width: 100%;
border-collapse: collapse;
}

td {
padding: 10px;
border: 1.6px solid black;
}

img {
display: block;
margin: 0 auto;
}

h1 {
text-align: center;
}


.libre-barcode-39-regular {
font-family: "Libre Barcode 39 Extended Text", system-ui;
font-style: normal;
font-size: 10em;
text-align: center;
padding: 0;
}
.info {
padding: 5em;
}
.user {
border-bottom: 0;
}

}