/* Reset default margin and padding */
* {
  font-size: 15px;
  margin: 0;
  padding: 0;
}
/* Style for the background */
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFEAC9;
}

/* Style for the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #704214; /* Change the color as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Remove default list styling */
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Style for the logo */
.logo {
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 3em;
  color: #DADADA; /* Change the color as needed */
  text-decoration: none;
  a {
    font-size: 2.5em; /* Adjust font size as needed */
    color: #DADADA;
    text-decoration: none;
  }
  .spin {
    position: relative;
    top: 0.5em;
    left: 0.5em;
    transition: transform .7s ease-in-out;
  }
  .spin:hover {
    transform: rotate(360deg);
  }
}
.search {
    padding-left: 2em;
    padding-right: 3em;
}
/* Style for the search bar */
.search input[type="text"] {
  width: 24em; /* Adjust width as needed */
  padding: 1em;
  border: none;
  border-radius: 50px;
  font-size: 16px; /* Adjust font size as needed */
}

/* Style for navigation links */
#topics a {
  color: #DADADA; /* Change the color as needed */
  text-decoration: none;
  font-size: 1.5em /* Adjust font size as needed */
}
#topics {
    li {
        padding: 2em;
    }
    li:hover {
    background-color: #000; 
    }
}

/* Style for login/register links */
.user {
  position: absolute;
  right: 2em;
  top: 1.5em;
  .login {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #333;
    color: #DADADA;
    font-size: 1.2em;
  }
  .register {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #A30000;
    color: #DADADA;
    font-size: 1.2em;
  }
  .register:hover {
    background-color: #640000;
  }
  .login:hover {
    background-color: #222;
  }
}

body {
  padding-top: 8em; /* Adjust this value to match the height of your header */
}

footer {
  background-color: #333;
  color: #DADADA;
  padding: 1em;
  font-size: 0.8em;
}