/* Reset default margin and padding */
* {
    font-size: 15px;
    margin: 0;
    padding: 0;
}
  
/* Style for the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Change the color as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Remove default list styling */
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Style for the logo */
.logo {
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 3em;
  color: #fff; /* Change the color as needed */
  text-decoration: none;
  a {
    font-size: 2.5em; /* Adjust font size as needed */
    color: #fff;
    text-decoration: none;
  }
}
.search {
    padding-left: 2em;
    padding-right: 3em;
}
/* Style for the search bar */
.search input[type="text"] {
  width: 24em; /* Adjust width as needed */
  padding: 1em;
  border: none;
  border-radius: 50px;
  font-size: 16px; /* Adjust font size as needed */
}

/* Style for navigation links */
#topics a {
  color: #fff; /* Change the color as needed */
  text-decoration: none;
  font-size: 1.5em /* Adjust font size as needed */
}
#topics {
    li {
        padding: 2em;
    }
    li:hover {
    background-color: #000; 
    }
}

/* Style for login/register links */
.login {
  margin-left: auto; /* Pushes login/register to the far right */
}

.login a {
  color: #fff; /* Change the color as needed */
  text-decoration: none;
  font-size: 16px; /* Adjust font size as needed */
  margin-left: 20px; /* Adjust margin as needed */
}

body {
  padding-top: 8em; /* Adjust this value to match the height of your header */
}