/* Reset default margin and padding */
* {
  font-size: 15px;
  margin: auto;
  padding: 0;
}
/* Style for the background */
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFEAC9;
}

/* Style for the header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #704214; /* Change the color as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999; 
}

/* Remove default list styling */
header ul {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Style for the logo */
.logo {
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 3em;
  color: #DADADA; /* Change the color as needed */
  text-decoration: none;
  a {
    font-size: 2.5em; /* Adjust font size as needed */
    color: #DADADA;
    text-decoration: none;
  }
  .spin {
    position: relative;
    top: 0.5em;
    left: 0.5em;
    transition: transform .7s ease-in-out;
  }
  .spin:hover {
    transform: rotate(360deg);
  }
}
.search {
    padding-left: 2em;
    padding-right: 3em;
}
/* Style for the search bar */
.search input[type="text"] {
  width: 24em; /* Adjust width as needed */
  padding: 1em;
  border: none;
  border-radius: 50px;
  font-size: 16px; /* Adjust font size as needed */
}

/* Style for navigation links */
#topics a {
  color: #DADADA; /* Change the color as needed */
  text-decoration: none;
  font-size: 1.5em /* Adjust font size as needed */
}
#topics {
    li {
        padding: 2em;
    }
    li:hover {
    background-color: #000; 
    }
}

/* Style for login/register links */
.user {
  position: absolute;
  right: 2em;
  top: 1.5em;
  .login {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #333;
    color: #DADADA;
    font-size: 1.2em;
    border-radius: 50px;
    border: none;
  }
  .register {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #A30000;
    color: #DADADA;
    font-size: 1.2em;
    border-radius: 50px;
    border: none;
  }
  .register:hover {
    background-color: #640000;
  }
  .login:hover {
    background-color: #222;
  }
}

body {
  padding-top: 8em; /* Adjust this value to match the height of your header */
}

.banner {
  margin: auto;
  background-color: #000;
  
  .box {
    width: 100em;
    display: flex;
    align-items: center;
    .bannerimg {
      flex:1;
    }

    .text-wrapper {
      flex:2;
      padding: 0 20px;
      align-items: center;
    }
    h2:first-child {
      padding: 1em;
      color: #DDD;
      font-size: 2em;
      position: relative;
      left: 4em;

    }
    h2:nth-child(2) {
      padding: 1em;
      color: #DDD;
      font-size: 2.4em;
      position: relative;
      left: 6em;
      top: -1em;


  
    }
    .sell {
      position: relative;
      padding: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
      background-color: #118C4f;
      color: #DADADA;
      font-size: 1.2em;
      border-radius: 50px;
      border: none;
      left: 22em;

    }
    .sell:hover {
      background-color: #073820;
    }
  }
}

.top {
  width: 100em;
  margin: auto;
  #top {
    width: 50px; height: 50px;
    position: relative;
    top: 3.3em;
    left:-33em;
    transform: skew(30deg); background-color: red;
  }
  #hot {
    width: 50px; height: 50px;
    position: relative;
    top: 3.3em;
    left:-33em;
    transform: skew(30deg); background-color: orange;
  }
  #new {
    width: 50px; height: 50px;
    position: relative;
    top: 3.3em;
    left:-33em;
    transform: skew(30deg); background-color: yellow;
  }

  h2 {
    background-color: #DADADA;
    padding: 0.5em;
    color: #000;
    margin-right: 55em;
    font-size: 1.5em;

  }
}

.title {
  padding: 0.5em;
  h3 {
    font-size: 1.2em;
  }
}
.desc {
  padding: 0.5em;
  p {
    font-size: 0.9em;
    color: #333;
  }
}


.shelf {
  display: flex;
  flex-wrap: wrap;
  max-width: 100em;
}
.card {
  margin: 1em;
  background-color: antiquewhite;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.buttons {
  display: flex;
  align-items: center;
  padding: 0.5em;
  button {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #118C4f;
    color: #DADADA;
    font-size: 1.2em;
    border-radius: 50px;
    border: none;
  }
  button:hover {
    background-color: #073820;
  }
}
footer {
  background-color: #333;
  color: #DADADA;
  padding: 1em;
  font-size: 0.8em;
}